<!--==========================
    INSIDE HERO SECTION Section
============================-->
<section class="page-image page-image-about md-padding">
	<h1 class="text-white text-center">Admin</h1>
</section>

<!--==========================
    ABOUTUS Section
============================-->
<section id="aboutus" class="md-padding">
	<div class="container">

	{{> admin-nav}}
	<div class="clearfix"></div>
	<div class="mb-5"></div>
    {{#if sessionFlash.message}}
        <div class="{{sessionFlash.type}}">{{sessionFlash.message}}</div>
    {{/if}}
		<div class="row">
			<div class="col-md-4">
				<form action="/admin/categories" method="POST">
					<div class="row">
						<div class="col-md-10">
							<div class="form-group">
								<input class="form-control" name="name" type="text" placeholder="Your category"
									required="required" data-validation-required-message="Please enter your category name.">
								<p class="help-block text-danger"></p>
							</div>
							
						</div>


						<div class="clearfix"></div>
						<div class="col-lg-12">
							<div id="success"></div>
							<button class="main-btn admin-categories" type="submit">Güncelle</button>
						</div>
					</div>
				</form>
			</div>
			<div class="col-md-8">
				<table class="table">
					<thead>
						<tr>
							<th>ID</th>
							<th>NAME</th>
							<th>EDIT</th>
                            
						</tr>
					</thead>
					<tbody>
						<form action="/admin/categories/edit/{{category._id}}" method="POST">
							
							<tr>
								<td>{{category._id}}</td>
								<td><input name="name" type="text" value="{{category.name}}"></td>
								<td>
									<button class="btn btn-danger" type="submit">SAVE</button>
								</td>
							</tr>

						</form>	
					</tbody>
				</table>
			</div>
		</div>
	</div>
</section>