<!--==========================
    INSIDE HERO SECTION Section
============================-->
<section class="page-image page-image-contact md-padding">
    <h1 class="text-white text-center">BLOG</h1>
</section>

<!--==========================
    Contact Section
============================-->
<section id="blog" class="md-padding">
    <div class="container">
        <div class="row">
            <main id="main" class="col-md-8">
                <div class="blog">
                    {{#if sessionFlash.message}}
                        <div class="{{sessionFlash.type}}">{{sessionFlash.message}}</div>
                    {{/if}}
                    <div class="blog-img">
                        <img class="img-fluid" src="{{post.post_image}}" alt="">
                    </div>
                    <div class="blog-content">
                        <ul class="blog-meta">
                            <li><i class="fas fa-user"></i>{{post.author.username}}</li>
                            <li><i class="fas fa-clock"></i>{{generateDate post.date 'DD MM YYYY'}}</li>
                            <li><i class="fas fa-comments"></i>57</li>
                        </ul>
                        <h3>{{post.title}}</h3>
                        <p>{{{post.content}}}</p>
                        <p id="c"></p>
                    </div>


                    <!-- blog comments -->
                    <div class="blog-comments">
                        <h3>Yorumlar ({{countComment comments}})</h3>

                        <!-- comment -->
                        {{#each comments}}
                        <div class="media">
                            <div class="media-body">
                                <h4 class="media-heading">{{author.username}}<span class="time">{{commentDate date}}</span>{{#if edit}}<span class="edit">· (DÜZENLENDİ)</span>{{/if}}</h4>
                                <div><p>{{cContent}}</p></div>
                            </div>
                            {{#if (commentAuth ../userID author._id)}}
                                <button id="{{_id}}" class="btn btn-sm btn-outline-warning mr-1 listen"><i class="fa fa-magic"></i></button>
								<form action="/posts/deletecomment/{{author._id}}/{{_id}}/{{../post._id}}" method="POST">
								    <button class="btn btn-sm btn-outline-danger" type="submit">X</button>
								</form>
							{{/if}}
                        </div>
                        <!-- /comment -->
                        {{/each}}
                    </div>
                    <!-- /blog comments -->

                    <!-- reply form -->
                    <div class="reply-form">
                        <h3>Yorum Yapın</h3>
                        <form action="/posts/comment/{{post._id}}" method="POST">
                            <textarea class="form-control mb-4 commentArea" row="5" name="cContent" placeholder="Yorumunuzu yazınız..." required="required"></textarea>
                            <button type="submit" class="btn btn-outline-warning">Gönder</button>
                        </form>
                    </div>
                    <!-- /reply form -->
                </div>
            </main>
            <!-- /Main -->

            <aside id="aside" class="col-md-4">

               
                <!-- /Search -->


                <!-- Category -->
  
                <!-- /Category -->
                {{> site-sidebar}}
                <!-- Posts sidebar -->
                
                <!-- /Posts sidebar -->

            </aside>



        </div>

    </div>
</section>